/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #005d6e;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.navbar-logo a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Container for right-side links and buttons */
.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #ffc107;
}

.navbar-links .logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-links .logout-btn:hover {
  background-color: #c82333;
}

/* Cart icon link */
.cart-icon-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 2rem; /* Increase font size */
  margin-left: 2rem;
  background: white;
  border-radius: 50%;
  border: 1px solid red;
  padding: 0.5rem; /* Add padding around the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem; /* Increase width */
  height: 3rem; /* Increase height */
  text-align: center;
}

.cart-count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 1.5rem; /* Size of the badge */
  height: 1.5rem; /* Size of the badge */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* Adjust text size of count */
  font-weight: bold;
}


.cart-icon-link:hover {
  color: #ffc107;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #005d6e;
    display: none;
  }

  .navbar-links-container.active {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-right: 0;
  }

  .navbar-links a, .navbar-links .logout-btn {
    margin: 0.8rem 0;
    font-size: 1.1rem;
    text-align: center;
  }

  /* Cart icon outside menu */
  .cart-icon-link {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 1.3rem;
  }
}
